# ─── Puerto del servidor ────────────────────────────────────────
PORT=3000

# ─── Entorno (development | production | test) ─────────────────
NODE_ENV=development

# ─── Conexión a MongoDB ────────────────────────────────────────
MONGO_URI =mongodb+srv://dbAdmin:<db_password>@cluster0.039s5ru.mongodb.net/?appName=<db_cluster>
